<%- contentFor('title') %>
Professional
<link rel="stylesheet" href="/public/bootstrap/js/bootstrap.min.js">
<link rel="stylesheet" href="/public/bootstrap/js/jquery.min.js">
<%- contentFor('header') %>
<%- contentFor('body') %>
    <% for(var i=0; i<result.length; i++ ) { %>
        <%= result[i].email %>

    <%}%>
    <div style="background:#ddd;">
		<div class="container" style="margin-top:20px;">

			<div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:20px;margin-left:-20px;margin-right:20px;">
				
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="javascript:;" class="sidebarLA">

				  	<div class="panel panel-default sidebarL">
				    	<div class="panel-heading sidebarLHeader" role="tab" id="headingOne">
				      		<h4 class="panel-title">
				        		<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Design & Renovation</a>
				      		</h4>
				    	</div>
					    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						    <div class="panel-body">
								<a href="javascript:;" class="sidebarLA">All Professionals</a>
								<a href="javascript:;" class="sidebarLA">Architects & Building Designers</a>
								<a href="javascript:;" class="sidebarLA">Interior Designers & Decorators</a>
								<a href="javascript:;" class="sidebarLA">Kitchen & Bathroom Renovators</a>
								<a href="javascript:;" class="sidebarLA">Renovation Contractors</a>
						    </div>
					    </div>
				  	</div>
				  	<div class="panel panel-default sidebarL">
				    	<div class="panel-heading sidebarLHeader" role="tab" id="headingTwo">
				      		<h4 class="panel-title">
				        		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Home Improvement</a>
				      		</h4>
				    	</div>
				    	<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
				      		<div class="panel-body">				        
								<a href="javascript:;" class="sidebarLA">Cabinets & Cabinetry</a>
								<a href="javascript:;" class="sidebarLA">Carpenters</a>
								<a href="javascript:;" class="sidebarLA">Doors</a>
								<a href="javascript:;" class="sidebarLA">Environmental Services & Restoration</a>
								<a href="javascript:;" class="sidebarLA">Furniture Upholstery & Restoration</a>
								<a href="javascript:;" class="sidebarLA">Home Media Design & Installation</a>
								<a href="javascript:;" class="sidebarLA">Painting & Wallpaper</a>
								<a href="javascript:;" class="sidebarLA">Specialty Contractors</a>
								<a href="javascript:;" class="sidebarLA">Tile, Stone & Countertops</a>
								<a href="javascript:;" class="sidebarLA">Wardrobe Designers & Professional Organisers</a>
								<a href="javascript:;" class="sidebarLA">Windows</a>
								<a href="javascript:;" class="sidebarLA">Wrought Iron Work</a>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="panel panel-default sidebarL">
				    	<div class="panel-heading sidebarLHeader" role="tab" id="headingThree">
				      		<h4 class="panel-title">
				        		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Showrooms & Suppliers</a>
				      		</h4>
				    	</div>
				    	<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
				      		<div class="panel-body">
								<a href="javascript:;" class="sidebarLA">Appliances</a>
								<a href="javascript:;" class="sidebarLA">Bedding & Bath</a>
								<a href="javascript:;" class="sidebarLA">Building Supplies</a>
								<a href="javascript:;" class="sidebarLA">Carpet & Flooring</a>
								<a href="javascript:;" class="sidebarLA">Curtains, Blinds & Shutters</a>
								<a href="javascript:;" class="sidebarLA">Furniture & Accessories</a>
								<a href="javascript:;" class="sidebarLA">Kitchen & Bathroom Fixtures</a>
								<a href="javascript:;" class="sidebarLA">Lighting</a>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="panel panel-default sidebarL">
				    	<div class="panel-heading sidebarLHeader" role="tab" id="headingFour">
				      		<h4 class="panel-title">
				        		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Garden & Outdoors</a>
				      		</h4>
				    	</div>
				    	<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
				      		<div class="panel-body">
								<a href="javascript:;" class="sidebarLA">Decks, Patios & Outdoor Enclosures</a>
								<a href="javascript:;" class="sidebarLA">Garden & Landscape Supplies</a>
								<a href="javascript:;" class="sidebarLA">Landscape Professionals</a>
								<a href="javascript:;" class="sidebarLA">Stone, Pavers & Concrete</a>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="panel panel-default sidebarL">
				    	<div class="panel-heading sidebarLHeader" role="tab" id="headingFive">
				      		<h4 class="panel-title">
				        		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Other</a>
				      		</h4>
				    	</div>
				    	<div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
				      		<div class="panel-body">
								<a href="javascript:;" class="sidebarLA">Artists & Artisans</a>
								<a href="javascript:;" class="sidebarLA">Home Stagers</a>
								<a href="javascript:;" class="sidebarLA">Media & Bloggers</a>
								<a href="javascript:;" class="sidebarLA">Photographers</a>
								<a href="javascript:;" class="sidebarLA">Property Agents</a>
								<a href="javascript:;" class="sidebarLA">Schools & Organisations</a>
				      		</div>
				    	</div>
				  	</div>
				</div>

			</div>

			<div class="col-sm-9 col-md-9 col-9" style="margin-top:20px;background:#fff;">
				
				<div class="headerContainer">
					<span > <a href="">All Professionals</a> </span>
					<h3>6,012,848 Home Improvement Professionals</h3>
					<p>Even if you're the kind of person who makes everything a DIY project, there's always a point when a home renovating or decorating project could use a professional set of eyes. Whether you are redoing your backyard, need some help planning your living room or can't figure out where to put the kitchen sink, a quality home professional can help you do it right. Hiring a qualified home professional puts their years of schooling, certifications, training and experience right at your fingertips. <span>More</span> </p>
				</div>

				<form class="form-inline">
				  	<div class="col-sm-4 col-md-4 col-4" style="padding:0;">
				    	<input type="text" class="form-control" id="exampleInputName2" placeholder="Find Pro Type (architect, contractor...)" style="width:100%;">
				  	</div>
				  	<div class="col-sm-3 col-md-3 col-3" style="padding:0;">
				    	<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Near (San Francisco...)" style="width:100%;">
				  	</div>
				  	<select class="form-control col-sm-3 col-md-3 col-3">
					  	<option>Anywhere</option>
					 	<option>Within 100 km</option>
					  	<option>Within 50 km</option>
					  	<option>Within 25 km</option>
					  	<option>Within 10 km</option>
					</select>
				  	<button type="submit" class="btn btn-success col-sm-2 col-md-2 col-2" style="width:16.66%;">Search</button>
				</form>

				<div style="margin-top:60px;padding-top:25px;border-top:1px solid #eee;">
					<form >
						<select class="form-control" style="width:200px">
						  	<option>Anywhere</option>
						 	<option>Within 100 km</option>
						  	<option>Within 50 km</option>
						  	<option>Within 25 km</option>
						  	<option>Within 10 km</option>
						</select>
					</form>
				</div>

				<div class="containBody">
					<div class="col-sm-5 col-md-5 col-5" style="border:1px solid #000;">
						<img src="" alt="">
					</div>
					<div class="col-sm-7 col-md-7 col-7">
						<div class="name-info">
							<div class="col-sm-1 col-md-1 col-1" style="border:1px solid #000;"></div>
							<div class="col-sm-10 col-md-10 col-10">
								<a href="">Arete Culture</a>
								<p> Reviews</p>
							</div>							
						</div>
						<div>
							<p>Established in 2010, Arete Culture is an interior decorating firm specialising in fast, affordable, and fuss-free...	Read More</p>
							<p>Interior Designer & Decorator in Singapore, Central Singapore, SG</p>
						</div>
						<div class="footContain">
							<ul>
								<li>9878 8154</li>
								<li>Singapore 669569</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

<%- contentFor('footer') %>

