<%- contentFor('title') %>
Product
<link href="">
<%- contentFor('header') %>
<%- contentFor('body') %>
  <% for(var i=0; i<result.length; i++ ) {%>
    
    <%= result[i].style %>
  <%} %>
  

<div class="container">
		<div class="col-sm-7 col-md-7 col-lg-7">
			<ol class="breadcrumb" id="navOl">
			  	<li><a href="#">All Products</a></li>
			  	<li><a href="#">Kitchen</a></li>
			  	<li><a href="#">Kitchen & Dining Furniture</a></li>
			  	<li><a href="#">Bar Stools & Counter Stools</a></li>
			</ol>
			<div id="imgBox"><img src="" alt=""></div>
			<div id="btnBox">
				<a class="btn btn-default" href="#" role="button">Email</a>
				<a class="btn btn-default" href="#" role="button">Save to Ideabook</a>
				<a class="btn btn-default" href="#" role="button">Ask a Question</a>
				<a class="btn btn-default" href="#" role="button">Print</a>
			</div>
			<div>
				<h3>Related Product Topics</h3>
				<a href="#">Contemporary Bar Stools & Counter Stools</a>
			</div>
		</div>
		<div class="col-sm-5 col-md-5 col-lg-5">
			<h2 class="borderBotton">triple eyelid Copper Piping Barstool</h2>
			<div class="borderBotton">
				<h2>$210 SGD</h2>
				<div><a href="javascript:;">* Price not verified</a></div>
				<button type="button" class="btn btn-success">Visit Store</button>
			</div>
			<div class="textCon">
				An industrial looking Copper Piping Barstool that goes together with the Copper High Bar Table. The copper piping back rest doubles as a handle. Tip of legs are painted in copper metallic paint.<br><br>
				L37 B37 H89 cm<br>
				Seat height: 63-74 cm<br>
			</div>
			<div class="productSpec">
				<h4>Product Specifications</h4>
				<dl>
					<dt>Sold By</dt>
	 				<dd>HipVan</dd>
					<dt>Category</dt>
					<dd>Bar Stools And Kitchen Stools</dd>
					<dt>Style</dt>
					<dd>Contemporary</dd>
				</dl>
			</div>
			<div id="picBox">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="productSpec">
				<dl>
					<dt>Keywords</dt>
					<dd></dd>
				</dl>
			</div>
		</div>
	</div>
	

<%- contentFor('footer') %>

